*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --prinary-color: #f2726a;
}

body{
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
    background-image: linear-gradient( 45deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 50%, rgb(255, 204, 112) 100% );
}

.open-modal-btn{
    padding: 20px 40px;
    border: none;
    outline: none;
    border-radius: 6px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.modal{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
}

.modal_inner{
    width: 400px;
    background: white;
    position: relative;
    top: 40%;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
    animation: modalShow 0.5s linear;
}

.modal_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: var(--prinary-color);
    color: white;
}

.modal_header i{
    cursor: pointer;
}

.modal_body{
    padding: 15px;
}

.modal_body h2{
    color: var(--prinary-color);
    margin-bottom: 10px;
}

.modal_footer{
    padding: 15px;
    text-align: right;
}

.modal_footer button{
    padding: 10px 20px;
    border: none;
    outline: none;
    background: var(--prinary-color);
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.hide{
    display: none;
}

@keyframes modalShow{
    from{
        top: -200px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
        top: 40%;
    }   }