*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: #dadada;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}

img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    transition: 0.25s;
}

.image{
    width: 22%;
    height: 200px;
    border-radius: 4px;
    overflow: hidden;
    margin: 20px 0;
}

.image:hover img{
    transform: scale(1.2);
}

.gallery{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: 0.5s;
}

.close{
    position: fixed;
    top: 15px;
    right: 25px;
    font-size: 35px;
    cursor: pointer;
}

.control{
    font-size: 35px;
    background: rgba(255, 255, 255, 0);
    position: absolute;
}

.control.prev{
    left: 15px;
    cursor: pointer;
}

.control.next{
    right: 15px;
    cursor: pointer;
}

.gallery_inner{
    width: 70%;
    height: 70%;
    margin: 0 auto;
}

.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.hide{
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
}